<html>

<body>

{% for restaurant in restaurants %}

    <a href="{{url_for('menu', rid=restaurant.id)}}"><hl>{{restaurant.name}}</h1><a><br>
    <a href="{{url_for('edit_restaurant', rid=restaurant.id)}}">Edit<a><br>
    <form id="{{restaurant.id}}" action="{{url_for('delete_restaurant', rid=restaurant.id)}}" method="post">
        <a href="javascript:;" onclick="document.getElementById({{restaurant.id}}).submit();">Delete</a>
    </form>
    ---
    <br>

{% endfor %}

<a href="{{url_for('add_restaurant')}}">Add a new restaurant</a>

</body>

</html>
